:root{

}
body{
    
    
    line-height: 2;
    font-size: 20px;
    background-color: red;
}
*{
    margin: 0;
    padding: 0;
    background-color: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;


}
::before,::after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.home-section{
   background:rgb(161, 181, 229);
   min-height: 100vh;
   display: block;
   position: fixed;
   left: 270px;
   top: 0;
   right: 0;
   z-index: 0;
   opacity: 1;

}

.aside{
 width:270px;
 background:white;
 position: fixed;
 left: 0;
 top:0;
 padding: 30px;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 10;
 bottom: 0;

 
   
}
.aside .logo{
    position: absolute;
    top: 40px;
    font-size: 30px;
    text-transform: capitalize;

}
.aside .nav{
    
}
